html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	font-family: 'Indie Flower', cursive;
}



.header {
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	font-size: 20px;
	font-weight: bold;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.header__left {
	display: flex;
	align-items: center;
	gap: 100px;
}

.menu__list {
	display: flex;
	gap: 100px;
}


.menu__link {
	position: relative;
}
.menu__link-list1 {
	position: absolute;
	left: 100px;
	height: 140px;
	width: 140px;
	background-color: aliceblue;
	text-align: center;
	display: none;
	border-radius: 10px;
}

.menu__item:hover > div {
	display: block;
}

.menu__link-list1 > a:hover {
	color: rgb(148, 187, 233);
}


.menu__link-list-ul {
	text-align: center;
}

.user__actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo-img {
	display: flex;
}

.registration {
	margin: 0 auto;
	width: 60%;
	margin-top: 120px;
}

.reg-inp {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reg-inp > input {
	width: 100%;
	height: 60px;
	border: none;
	outline: none;
	background: rgb(148, 187, 233);
	background: linear-gradient(
		90deg,
		rgba(148, 187, 233, 1) 0%,
		rgba(238, 174, 202, 1) 100%
	);
	border-radius: 10px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}

.reg-btn {
	border: none;
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	height: 60px;
	border-radius: 10px;
	font-size: 20px;
}

button:active {
	box-shadow: inset 0 0 5px rgb(242, 10, 10);
 }